#home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#blog-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog-section-container > app-blog-list-item {
  width: 100%;
}

#blog-pagination-container {
  display: flex;
  flex-direction: row;
  height: 4em;
  align-items: center;
  justify-content: center;
}

.pagination-underline {
  min-height: 3px;
  border-radius: 3px;
  align-self: stretch;
  margin-top: -5px;
  margin-bottom: 3px;
  margin-left: -5px;
  margin-right: -5px;
}

.pagination-text {
  margin-bottom: -1px;  
}