<div id="blog-post-container">
  <div id="shaneduffy" class="project-container background-gray-2">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>shaneduffy.io</h2>
        <a href="https://shaneduffy.io" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <p>This website was built with .NET 5 and Angular 12. The blog posts are stored with MongoDB and the pages are
        statically prerendered via Angular Universal (go ahead, turn your JavaScript off).</p>
    </div>
  </div>
  <div id="feathr" class="project-container background-gray-1">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Feathr</h2>
        <a href="https://github.com/feathr-org" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <a href="https://github.com/feathr-org" target="_blank"><img
          src="https://cdn.shaneduffy.io/shaneduffy/feathr-demo.webp"></a>
      <p>I'm currently prototyping a cross-platform IPFS based file transfer and storage platform.</p>
    </div>
  <div id="orbit-chat" class="project-container background-gray-2">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Orbit Chat</h2>
        <a href="https://orbitchat.dev/" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <a href="https://orbitchat.dev/" target="_blank"><img
          src="https://cdn.shaneduffy.io/shaneduffy/orbit-chat-demo.webp"></a>
      <p>Decentralized chat web app built with IPFS and OrbitDB. It functions without a backend server, using purely P2P Websockets.</p>
    </div>
  </div>
  <div id="background-terminal" class="project-container background-gray-1">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Background Terminal</h2>
        <a href="https://github.com/cppshane/Background-Terminal/releases/tag/v1.2.4" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <a href="https://github.com/cppshane/Background-Terminal/releases/tag/v1.2.4" target="_blank"><img
          src="https://cdn.shaneduffy.io/shaneduffy/background-terminal-demo.webp"></a>
      <p>Background Terminal is a Windows application that allows you to put a virtual terminal on your Desktop
        background, which visually integrates well with Rainmeter.</p>
    </div>
  </div>
  <div id="dps" class="project-container background-gray-2">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Dynamic Particle Simulator</h2>
        <a href="https://cppshane.github.io/dynamic-particle-simulator/" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <a href="https://cppshane.github.io/dynamic-particle-simulator/" target="_blank"><img
          src="https://cdn.shaneduffy.io/shaneduffy/dps-demo.webp"></a>
      <p>Dynamic Particle Simulator is a web application designed in conjunction with particle-render.js for writing and
        visualizing N-body simulations, as well as galactic collisions.</p>
    </div>
  </div>
  <div id="moe-pomodoro" class="project-container background-gray-1">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Moe Pomodoro</h2>
        <a href="https://pomodoro.moe" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <a href="https://pomodoro.moe" target="_blank"><img src="https://cdn.shaneduffy.io/shaneduffy/moe-pomodoro-demo.webp"></a>
      <p>Moe Pomodoro is a demo of Blazor w/ WebAssembly. It's a simple Pomodoro app, but it was built without JavaScript.</p>
    </div>
  </div>
  <div id="sparkr" class="project-container background-gray-2">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Sparkr</h2>
        <a href="https://sparkr.dev" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <a href="https://sparkr.dev" target="_blank"><img src="https://cdn.shaneduffy.io/shaneduffy/sparkr-demo.webp"></a>
      <p>Sparkr is a simple but useful web application to help developers come up with new app ideas by combining public
        API's.</p>
    </div>
  </div>
  <div id="notifyer" class="project-container background-gray-1">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Notifyer</h2>
        <a href="https://chrome.google.com/webstore/detail/notifyer/lgcickaldmfnogadcbgiadelhbfmbeoi" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <a href="https://chrome.google.com/webstore/detail/notifyer/lgcickaldmfnogadcbgiadelhbfmbeoi"
        target="_blank"><img src="https://cdn.shaneduffy.io/shaneduffy/notifyer-demo.webp"></a>
      <p>Notifyer is a Google Chrome extension for setting alerts when certain words are mentioned in Google Meets.</p>
    </div>
  </div>
  <div id="pixelmatic" class="project-container background-gray-2">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Pixelmatic</h2>
        <a href="https://www.microsoft.com/en-us/p/pixelmatic/9nlzswp6s943" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <a href="https://www.microsoft.com/en-us/p/pixelmatic/9nlzswp6s943" target="_blank"><img
          src="https://cdn.shaneduffy.io/shaneduffy/pixelmatic-demo.webp"></a>
      <p>Pixelmatic is a Windows application for retrieving pixel data from your screen quickly and easily.</p>
    </div>
  </div>
  <div id="particle-render" class="project-container background-gray-1">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Particle Render</h2>
        <a href="https://www.npmjs.com/package/particle-render" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <p>Particle Render is a node package for easily developing simple particle simulations on a Canvas, allowing the
        user to simply specify the initial system state and a timestep function without having to deal with WebGL or
        shaders.</p>
    </div>
  </div>
  <div id="core-meter" class="project-container background-gray-2">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>CoreMeter</h2>
        <a href="https://www.nuget.org/packages/CoreMeter" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <p>CoreMeter is a NuGet package for creating "background style" applications on Windows.</p>
    </div>
  </div>
  <div id="vimium-standard" class="project-container background-gray-1">
    <div class="content-section-container">
      <div class="project-title-container">
        <h2>Vimium Standard</h2>
        <a href="https://greasyfork.org/en/scripts/439441-vimium-standard" target="_blank">
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
      <div class="divider-line"></div>
      <p>User Script to return Vimium functionality to Standard Notes.
      <p>
    </div>
  </div>
</div>