<div id="blog-list-item-container">
  <div class="content-section-container">
    <iframe *ngIf="video != null" [src]="video | safe:'resourceUrl'" class="video-handler"
      allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen"
      oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
    <a *ngIf="image != null" [routerLink]="['/blog/' + blogPost?.Uri]"><img [src]="image | safe:'resourceUrl'"></a>
    <a *ngIf="blogPost?.Uri != null" id="blog-list-item-title" class="title-link"
      [routerLink]="['/blog/' + blogPost?.Uri]">
      <h1>{{ blogPost?.Title }}</h1>
    </a>
    <div *ngIf="blogPost?.Uri == null" id="blog-list-item-title">
      <h1>{{ blogPost?.Title }}</h1>
    </div>
    <p id="blog-list-item-preview-text">{{ blogPost?.Preview }}</p>
    <div id="blog-list-item-header-container">
      <div id="blog-list-item-keywords-container" class="keywords-container">
        <a *ngFor="let keyword of blogPost?.Keywords" class="small-button-container background-purple">{{ keyword }}</a>
      </div>
      <time id="blog-list-item-date-time" [dateTime]="blogPost?.Date">{{ blogPost?.Date | date }}</time>
    </div>
  </div>
</div>