<div class="notes-section-container">
  <p>In Development :)</p>
  <!--<div class="notes-section-container-inner">
    <h3>Sorting &amp; Searching</h3>
    <ul>
      <li><a class="text-link">Insertion Sort</a></li>
      <li><a class="text-link">Selection Sort</a></li>
      <li><a class="text-link">Bubble Sort</a></li>
      <li><a class="text-link">Merge Sort</a></li>
      <li><a class="text-link">Quick Sort</a></li>
      <li><a class="text-link">Heap Sort</a></li>
      <li><a class="text-link">Linear Search</a></li>
      <li><a class="text-link">Binary Search</a></li>
      <li><a class="text-link">Interpolation Search</a></li>
      <li><a class="text-link">Jump Search</a></li>
    </ul>
  </div>
  <div class="notes-section-container-inner">
    <h3>Algorithms &amp; Data Structures</h3>
    <ul>
      <li><a class="text-link">Linked List</a></li>
      <li><a class="text-link">Graph</a></li>
      <li><a class="text-link">Heap</a></li>
      <li><a class="text-link">Fibonacci Heap</a></li>
      <li><a class="text-link">Binomial Heap</a></li>
      <li><a class="text-link">Hash Map</a></li>
      <li><a class="text-link">Binary Search Tree</a></li>
      <li><a class="text-link">AVL Tree</a></li>
      <li><a class="text-link">Red Black Tree</a></li>
      <li><a class="text-link">Splay Tree</a></li>
      <li><a class="text-link">Prefix Tree</a></li>
      <li><a class="text-link">Prim's Algorithm</a></li>
      <li><a class="text-link">Kruskal's Algorithm</a></li>
      <li><a class="text-link">Dijkstra's Algorithm</a></li>
      <li><a class="text-link">Edmonds' Algorithm</a></li>
      <li><a class="text-link">LRU/LFU Cache</a></li>
    </ul>
  </div>
  <div class="notes-section-container-inner">
    <h3>Mathematics</h3>
    <ul>
      <li><a class="text-link" [routerLink]="['/notes/combinations-and-permutations']">Combinations &amp; Permutations</a></li>
      <li><a class="text-link" [routerLink]="['/notes/bit-manipulation']">Bit Manipulation</a></li>
      <li><a class="text-link">Conditional Probability</a></li>
    </ul>
  </div>
  <div class="notes-section-container-inner">
    <h3>Physics</h3>
    <ul>
      <li><a class="text-link">Feynman Path Integral</a></li>
      <li><a class="text-link">Metropolis Monte Carlo Method</a></li>
      <li><a class="text-link">Galerkin Method</a></li>
      <li><a class="text-link">WKB Approximation</a></li>
      <li><a class="text-link">Verlet Integration</a></li>
      <li><a class="text-link">LeapFrog Integration</a></li>
      <li><a class="text-link">Fast Fourier Transform</a></li>
    </ul>
  </div>-->
</div>
