<div id="blog-post-container" *ngIf="blogPost">
  <div class="content-section-container">
    <iframe *ngIf="video != null" [src]="video | safe:'resourceUrl'" class="video-handler"
    allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen"
    oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
    <div id="preview-container">
      <p>
        {{ blogPost?.Preview }}
      </p>
    </div>
    <div #contentContainer id="content-container" [innerHtml]="blogPost.Content | safe: 'html'">
    </div>
  </div>
</div>