<div id="blog-post-container" class="background-dark-gray">
  <div class="content-section-container">
    <p>.NET is cool. Don't let the Python brogrammers tell you it's a legacy framework. Also, Angular is better than
      React.</p>
    <p>So I'm a dev <a class="text-link" target="_blank" href="https://docusign.com">@docusign</a>, specializing in .NET. I also have a B.S. in Computational Physics from <a class="text-link" target="_blank"
        href="https://ucsd.edu">UCSD</a> , so I'm supposedly good at math too (though that remains to be seen). I spend
      most of my time coding, reading, riding motorcycles, playing violin, watching anime and exploring the city.</p>
    <br>
    <br>
    <div class="about-links-container flex-row">
      <p><a class="text-link color-github" target="_blank" href="https://github.com/cppshane">github</a></p>
      <p><a class="text-link color-stackoverflow" target="_blank"
          href="https://stackoverflow.com/users/4016197/shane-duffy">stackoverflow</a></p>
      <p><a class="text-link color-npm" target="_blank" href="https://npmjs.com/~cppshane">npm</a>
      </p>
      <p><a class="text-link color-nuget" target="_blank" href="https://nuget.org/profiles/cppshane">nuget</a></p>
    </div>
    <div class="about-links-container flex-row">
      <p><a class="text-link color-twitter" target="_blank" href="https://twitter.com/cppshane">twitter</a></p>
      <p><a class="text-link color-instagram" target="_blank" href="https://instagram.com/cppshane/">instagram</a>
      </p>
      <p><a class="text-link color-facebook" target="_blank" href="https://facebook.com/cppshane">facebook</a></p>
      <p><a class="text-link color-linkedin" target="_blank" href="https://www.linkedin.com/in/cppshane/">linkedin</a>
      </p>
    </div>
    <div class="about-links-container flex-row">
      <p><a class="text-link color-flickr" target="_blank" href="https://flickr.com/photos/cppshane/">flickr</a></p>
      <p><a class="text-link color-anilist" target="_blank" href="https://anilist.co/user/cppshane/">anilist</a></p>
      <p><a class="text-link color-spotify" target="_blank"
          href="https://open.spotify.com/user/nigumfffb6vyed80vet4b7kfw?si=8ebb6d4d763a483d">spotify</a></p>
      <p><a class="text-link color-goodreads" target="_blank" href="https://www.goodreads.com/cppshane">goodreads</a>
      </p>
    </div>
    <div class="about-links-container flex-row">
      <p><a class="text-link color-medium" target="_blank" href="https://cppshane.medium.com/">medium</a>
      </p>
      <p><a class="text-link color-youtube" target="_blank"
          href="https://youtube.com/channel/UCYLo70tzoGibx13p9AjddfA">youtube</a></p>
      <p><a class="text-link color-dev" target="_blank" href="https://dev.to/cppshane">dev</a></p>
    </div>
  </div>
</div>