.about-links-container {
  align-items: center;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .about-links-container a {
    font-size: 0.6rem;
  }
  .about-links-container p {
    line-height: 1.2rem !important;
  }
}

.about-links-container > p {
  margin: 0 1em;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-weight: 500;
}
