<div id="footer-container" class="background-dark-gray">
  <img id="footer-profile-image" class="circle-image" src="https://cdn.shaneduffy.io/shaneduffy/profile.webp">
  <h2>Shane Duffy</h2>
  <div class="social-media-links">
    <a class="twitter" href="https://twitter.com/cppshane" target="_blank"><img src="../../../assets/img/twitter.svg"></a>
    <div></div>
    <a class="instagram" href="https://www.instagram.com/cppshane/" target="_blank"><img src="../../../assets/img/instagram.svg"></a>
    <div></div>
    <a class="youtube" href="https://www.youtube.com/channel/UCYLo70tzoGibx13p9AjddfA" target="_blank"><img src="../../../assets/img/youtube.svg"></a>
    <div></div>
    <a class="github" href="https://github.com/cppshane" target="_blank"><img src="../../../assets/img/github.svg"></a>
    <div></div>
    <a class="stack-overflow" href="https://stackoverflow.com/users/4016197/shane-duffy" target="_blank"><img src="../../../assets/img/stack-overflow.svg"></a>
  </div>
</div>
